--
-- PostgreSQL database dump
--

\restrict J7yC66B1iwyVX0iyRJUddncEMmctLY3XUSUH7Kp3ryEWLamqKvcRrQ3bpW5zvQg

-- Dumped from database version 18.3
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: applications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.applications (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    teacher_id uuid,
    type character varying(50) NOT NULL,
    status character varying(50) DEFAULT 'pending'::character varying,
    reason text,
    requested_district character varying(100),
    requested_region character varying(100),
    hr_notes text,
    reviewed_by uuid,
    reviewed_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    CONSTRAINT applications_status_check CHECK (((status)::text = ANY ((ARRAY['pending'::character varying, 'approved'::character varying, 'rejected'::character varying, 'more_info'::character varying])::text[]))),
    CONSTRAINT applications_type_check CHECK (((type)::text = ANY ((ARRAY['transfer'::character varying, 'promotion'::character varying])::text[])))
);


ALTER TABLE public.applications OWNER TO postgres;

--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.audit_logs (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid,
    action character varying(200) NOT NULL,
    entity character varying(100),
    entity_id uuid,
    details text,
    ip_address character varying(50),
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.audit_logs OWNER TO postgres;

--
-- Name: credentials; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.credentials (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    teacher_id uuid,
    document_id uuid,
    document_hash character varying(500),
    blockchain_tx_id character varying(500),
    verification_status character varying(50) DEFAULT 'unverified'::character varying,
    verified_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT now(),
    CONSTRAINT credentials_verification_status_check CHECK (((verification_status)::text = ANY ((ARRAY['unverified'::character varying, 'verified'::character varying, 'failed'::character varying])::text[])))
);


ALTER TABLE public.credentials OWNER TO postgres;

--
-- Name: documents; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.documents (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    teacher_id uuid,
    application_id uuid,
    file_name character varying(255),
    file_path character varying(500),
    file_type character varying(100),
    ocr_extracted_text text,
    ocr_status character varying(50) DEFAULT 'pending'::character varying,
    uploaded_at timestamp without time zone DEFAULT now(),
    CONSTRAINT documents_ocr_status_check CHECK (((ocr_status)::text = ANY ((ARRAY['pending'::character varying, 'completed'::character varying, 'failed'::character varying])::text[])))
);


ALTER TABLE public.documents OWNER TO postgres;

--
-- Name: exam_answers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.exam_answers (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    attempt_id uuid,
    question_id uuid,
    selected_answer character varying(1),
    is_correct boolean,
    created_at timestamp without time zone DEFAULT now(),
    CONSTRAINT exam_answers_selected_answer_check CHECK (((selected_answer)::text = ANY ((ARRAY['A'::character varying, 'B'::character varying, 'C'::character varying, 'D'::character varying])::text[])))
);


ALTER TABLE public.exam_answers OWNER TO postgres;

--
-- Name: exam_attempts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.exam_attempts (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    exam_id uuid,
    teacher_id uuid,
    application_id uuid,
    status character varying(50) DEFAULT 'not_started'::character varying,
    score integer,
    passed boolean,
    started_at timestamp without time zone,
    submitted_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT now(),
    CONSTRAINT exam_attempts_status_check CHECK (((status)::text = ANY ((ARRAY['not_started'::character varying, 'in_progress'::character varying, 'submitted'::character varying])::text[])))
);


ALTER TABLE public.exam_attempts OWNER TO postgres;

--
-- Name: exam_questions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.exam_questions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    exam_id uuid,
    question text NOT NULL,
    option_a character varying(500) NOT NULL,
    option_b character varying(500) NOT NULL,
    option_c character varying(500) NOT NULL,
    option_d character varying(500) NOT NULL,
    correct_answer character varying(1) NOT NULL,
    marks integer DEFAULT 1,
    created_at timestamp without time zone DEFAULT now(),
    CONSTRAINT exam_questions_correct_answer_check CHECK (((correct_answer)::text = ANY ((ARRAY['A'::character varying, 'B'::character varying, 'C'::character varying, 'D'::character varying])::text[])))
);


ALTER TABLE public.exam_questions OWNER TO postgres;

--
-- Name: exams; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.exams (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    title character varying(255) NOT NULL,
    description text,
    duration_minutes integer DEFAULT 60,
    total_marks integer DEFAULT 100,
    pass_mark integer DEFAULT 50,
    status character varying(50) DEFAULT 'draft'::character varying,
    created_by uuid,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    CONSTRAINT exams_status_check CHECK (((status)::text = ANY ((ARRAY['draft'::character varying, 'published'::character varying, 'closed'::character varying])::text[])))
);


ALTER TABLE public.exams OWNER TO postgres;

--
-- Name: teacher_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.teacher_history (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    teacher_id uuid,
    changed_field character varying(100),
    old_value text,
    new_value text,
    changed_by uuid,
    changed_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.teacher_history OWNER TO postgres;

--
-- Name: teachers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.teachers (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid,
    staff_id character varying(100) NOT NULL,
    first_name character varying(100) NOT NULL,
    last_name character varying(100) NOT NULL,
    date_of_birth date,
    phone character varying(20),
    gender character varying(10),
    subject_specialization character varying(100),
    current_grade character varying(50),
    current_school character varying(200),
    current_district character varying(100),
    current_region character varying(100),
    years_of_service integer DEFAULT 0,
    qualification character varying(100),
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    title character varying(20),
    marital_status character varying(20),
    nationality character varying(100),
    hometown character varying(100),
    national_date_of_present_rank date,
    years_in_current_rank integer DEFAULT 0,
    date_of_first_appointment date,
    date_of_confirmation date,
    date_of_current_posting date,
    employment_status character varying(50) DEFAULT 'active'::character varying,
    passport_photo character varying(500),
    disability_status boolean DEFAULT false,
    disability_type character varying(200),
    CONSTRAINT teachers_marital_status_check CHECK ((((marital_status)::text = ANY ((ARRAY['single'::character varying, 'married'::character varying, 'divorced'::character varying, 'widowed'::character varying, 'separated'::character varying])::text[])) OR (marital_status IS NULL)))
);


ALTER TABLE public.teachers OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    email character varying(255) NOT NULL,
    password character varying(255) NOT NULL,
    role character varying(50) NOT NULL,
    created_at timestamp without time zone DEFAULT now(),
    CONSTRAINT users_role_check CHECK (((role)::text = ANY ((ARRAY['teacher'::character varying, 'hr_officer'::character varying, 'admin'::character varying, 'examiner'::character varying])::text[])))
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Data for Name: applications; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: credentials; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.credentials (id, teacher_id, document_id, document_hash, blockchain_tx_id, verification_status, verified_at, created_at) FROM stdin;
\.


--
-- Data for Name: documents; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.documents (id, teacher_id, application_id, file_name, file_path, file_type, ocr_extracted_text, ocr_status, uploaded_at) FROM stdin;
b2a6cafd-c189-4a1f-b120-54d135548ccf	30220883-dd2a-4559-aa19-46ca7ef2821b	\N	Young Man In Crown Illumined By Lantern Light (2).png	C:\\Users\\ratda\\Desktop\\ges\\src\\uploads\\1778444343528-112156232.png	image/png	rey\nnN\nNF > hk\n[ |\n1 i	completed	2026-05-10 20:19:04.111011
\.


--
-- Data for Name: exam_answers; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.exam_answers (id, attempt_id, question_id, selected_answer, is_correct, created_at) FROM stdin;
\.


--
-- Data for Name: exam_attempts; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.exam_attempts (id, exam_id, teacher_id, application_id, status, score, passed, started_at, submitted_at, created_at) FROM stdin;
\.


--
-- Data for Name: exam_questions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.exam_questions (id, exam_id, question, option_a, option_b, option_c, option_d, correct_answer, marks, created_at) FROM stdin;
6e38055e-b3b8-4660-9ec4-829330c0320b	004e4069-c224-4e29-ac1b-9e5c25a6741d	what is a noun	a	b	c	d	A	1	2026-05-11 12:46:49.677685
\.


--
-- Data for Name: exams; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.exams (id, title, description, duration_minutes, total_marks, pass_mark, status, created_by, created_at, updated_at) FROM stdin;
004e4069-c224-4e29-ac1b-9e5c25a6741d	Promotion exams	answer all	60	1	5	closed	39ef46e8-dce8-4144-86bd-5a5564fe33f7	2026-05-11 12:46:49.589341	2026-05-11 12:49:08.068251
\.


--
-- Data for Name: teacher_history; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: teachers; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (id, email, password, role, created_at) FROM stdin;
a3305cea-aeba-4638-a9be-a60c29b17c76	teacher1@ges.com	$2b$10$vWomA0diu8ueIbdPMguPouyoOy02gWkA5mMzs9SvqvBA6JnhZicFK	teacher	2026-05-09 03:14:22.12166
dd7ccfe7-0075-49ca-a14f-9385e70b1d53	hr1@ges.com	$2b$10$.8hH/Ndpj9uIkKrKyT.iB.Z8p43xjqM6fdM4mgnS3Fi3StXrqjOVK	hr_officer	2026-05-09 03:36:05.673712
39ef46e8-dce8-4144-86bd-5a5564fe33f7	examiner@ges.com	$2b$10$n7P7nGs8E760A868/R8pY.Qy4adVgatrEfGkLKw7QQmQMMqXgFvhy	examiner	2026-05-11 09:54:38.358959
\.


--
-- Name: applications applications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.applications
    ADD CONSTRAINT applications_pkey PRIMARY KEY (id);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: credentials credentials_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.credentials
    ADD CONSTRAINT credentials_pkey PRIMARY KEY (id);


--
-- Name: documents documents_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_pkey PRIMARY KEY (id);


--
-- Name: exam_answers exam_answers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exam_answers
    ADD CONSTRAINT exam_answers_pkey PRIMARY KEY (id);


--
-- Name: exam_attempts exam_attempts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exam_attempts
    ADD CONSTRAINT exam_attempts_pkey PRIMARY KEY (id);


--
-- Name: exam_questions exam_questions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exam_questions
    ADD CONSTRAINT exam_questions_pkey PRIMARY KEY (id);


--
-- Name: exams exams_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exams
    ADD CONSTRAINT exams_pkey PRIMARY KEY (id);


--
-- Name: teacher_history teacher_history_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.teacher_history
    ADD CONSTRAINT teacher_history_pkey PRIMARY KEY (id);


--
-- Name: teachers teachers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.teachers
    ADD CONSTRAINT teachers_pkey PRIMARY KEY (id);


--
-- Name: teachers teachers_staff_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.teachers
    ADD CONSTRAINT teachers_staff_id_key UNIQUE (staff_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: applications applications_reviewed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.applications
    ADD CONSTRAINT applications_reviewed_by_fkey FOREIGN KEY (reviewed_by) REFERENCES public.users(id);


--
-- Name: applications applications_teacher_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.applications
    ADD CONSTRAINT applications_teacher_id_fkey FOREIGN KEY (teacher_id) REFERENCES public.teachers(id);


--
-- Name: audit_logs audit_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: credentials credentials_document_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.credentials
    ADD CONSTRAINT credentials_document_id_fkey FOREIGN KEY (document_id) REFERENCES public.documents(id);


--
-- Name: credentials credentials_teacher_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.credentials
    ADD CONSTRAINT credentials_teacher_id_fkey FOREIGN KEY (teacher_id) REFERENCES public.teachers(id);


--
-- Name: documents documents_application_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_application_id_fkey FOREIGN KEY (application_id) REFERENCES public.applications(id);


--
-- Name: documents documents_teacher_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_teacher_id_fkey FOREIGN KEY (teacher_id) REFERENCES public.teachers(id);


--
-- Name: exam_answers exam_answers_attempt_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exam_answers
    ADD CONSTRAINT exam_answers_attempt_id_fkey FOREIGN KEY (attempt_id) REFERENCES public.exam_attempts(id) ON DELETE CASCADE;


--
-- Name: exam_answers exam_answers_question_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exam_answers
    ADD CONSTRAINT exam_answers_question_id_fkey FOREIGN KEY (question_id) REFERENCES public.exam_questions(id);


--
-- Name: exam_attempts exam_attempts_application_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exam_attempts
    ADD CONSTRAINT exam_attempts_application_id_fkey FOREIGN KEY (application_id) REFERENCES public.applications(id);


--
-- Name: exam_attempts exam_attempts_exam_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exam_attempts
    ADD CONSTRAINT exam_attempts_exam_id_fkey FOREIGN KEY (exam_id) REFERENCES public.exams(id);


--
-- Name: exam_attempts exam_attempts_teacher_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exam_attempts
    ADD CONSTRAINT exam_attempts_teacher_id_fkey FOREIGN KEY (teacher_id) REFERENCES public.teachers(id);


--
-- Name: exam_questions exam_questions_exam_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exam_questions
    ADD CONSTRAINT exam_questions_exam_id_fkey FOREIGN KEY (exam_id) REFERENCES public.exams(id) ON DELETE CASCADE;


--
-- Name: exams exams_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exams
    ADD CONSTRAINT exams_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: teacher_history teacher_history_changed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.teacher_history
    ADD CONSTRAINT teacher_history_changed_by_fkey FOREIGN KEY (changed_by) REFERENCES public.users(id);


--
-- Name: teacher_history teacher_history_teacher_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.teacher_history
    ADD CONSTRAINT teacher_history_teacher_id_fkey FOREIGN KEY (teacher_id) REFERENCES public.teachers(id);


--
-- Name: teachers teachers_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.teachers
    ADD CONSTRAINT teachers_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict J7yC66B1iwyVX0iyRJUddncEMmctLY3XUSUH7Kp3ryEWLamqKvcRrQ3bpW5zvQg

